<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">
	  
  <bean
    id="myDICoach"
    init-method="doInitStuffs"
    destroy-method="doDestroyStuffs"
    scope="prototype"
    class="it.ntt.myfirstspring.TennisCoach">
    <property name="fortuneService" ref="myFortuneService" />
  </bean>

  <bean
    id="myFortuneService"
    init-method="doInitStuffs"
    destroy-method="doDestroyStuffs"
    class="it.ntt.myfirstspring.OtherFortune">
  </bean>
</beans>