<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">
	  
  <bean
    id="myCoach"
    class="it.ntt.myfirstspring.BaseballCoach">
    <constructor-arg ref="myFortuneService" />
  </bean>

  <bean
    id="myFortuneService"
    class="it.ntt.myfirstspring.HappyFortune">
  </bean>
</beans>